@page "/apiconfig"
@inject HttpClient Http
@inject IURLs_Services _URLs
@inject ILocalStorage_Services _LocalStorage
@inject IGlobalElements_Services _GlobalElements
@inject IGlobalConfiguration_Services _GlobalConfiguration
@inject NavigationManager _NavigationManager
@inject IToast_Services _Toast
@layout EmptyLayout


<Title Value="@_Title"></Title>


<div class="h-100 p-4 d-flex-center" style="padding-top: 6rem !important; flex-direction: column;">

    <div class="card-form-items col-lg-6 col-md-8 col-sm-12 p-1">
        <div class="card-header-min">
            <label><i class="fa-solid fa-box mr-1"></i>Configuration</label>
        </div>

        <div class="row card-body-min">
            <EditForm Model="@_Model" OnInvalidSubmit="(() => StateHasChanged())" OnValidSubmit="(() => SaveURL())">

                <div class="col mb-4">
                    <label>API<label class="text-danger">*</label></label>
                    <div class="mb-2">
                        <InputText class="form-control"
                                   disabled="@_IsEnabled"
                                   placeholder="ID"
                                   aria-label="ID"
                                   @bind-Value="_APIURL" />
                    </div>
                </div>

                <div class="mt-2 d-flex-center">
                    @if (_Loading)
                    {
                        <_LoadingButton />
                    }
                    else
                    {
                        <div class="d-flex-center mb-4">

                            @if (!_Editing)
                            {
                                @if (_IsOK)
                                {
                                    <button @onclick="(()=>RedirecToHome())" class="btn btn-rounded btn-rounded-text btn-outline-info mr-1" type="button">
                                        <i class="fa-solid fa-arrow-rotate-back mr-1"></i> Home
                                    </button>

                                    <button @onclick="(()=>Test())" class="btn btn-rounded btn-rounded-text btn-outline-info mr-1" type="button">
                                        <i class="fa-solid fa-wifi mr-1"></i> Test
                                    </button>
                                }

                                <button @onclick="(()=> Edit())" class="btn btn-rounded btn-rounded-text btn-outline-info" type="button" title="Edit">
                                    <i class="fa-solid fa-pen-to-square mr-1"></i> Edit
                                </button>
                            }
                            else
                            {
                                <button @onclick="(()=>CancelEdit())" class="btn btn-rounded btn-outline-default mr-1" type="button" title="Back">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </button>

                                <button class="btn btn-rounded btn-rounded-text btn-outline-success" type="submit" title="Save">
                                    <i class="fa-solid fa-floppy-disk mr-1"></i> Save
                                </button>
                            }
                        </div>

                    }
                </div>

            </EditForm>

        </div>

    </div>


    @if (_IsOK)
    {
        <div class="card-form-items col-lg-6 col-md-8 col-sm-12 p-1">
            <div class="card-header-min">
                <label><i class="fa-solid fa-box mr-1"></i>Database's actions</label>
            </div>

            <div class="row card-body-min">

                @if (_Loading)
                {
                    <div class="d-flex-center">
                        <_LoadingButton />
                    </div>
                }
                else
                {
                    <div class="row d-flex-center">
                        <button @onclick="OpenModal_RecreateTables" class="btn btn-rounded btn-rounded-text btn-outline-danger mr-1" type="button" title="Recreate tables">
                            <i class="fa-solid fa-database mr-1"></i> Recreate tables
                        </button>

                        <button @onclick="OpenModal_RemoveData" class="btn btn-rounded btn-rounded-text btn-outline-danger" type="button" title="Remove data">
                            <i class="fa-solid fa-eraser mr-1"></i> Remove data
                        </button>

                        <div class="col-8">
                            <p>@_Text</p>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>



<div class="modal @ModalClass_RecreateTables" tabindex="-1" role="dialog" style="display:@ModalDisplay_RecreateTables">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-table text-center">
                    <h6>
                        <i class="fa-solid fa-database"></i>
                        Recreate tables
                    </h6>
                </div>

            </div>
            <div class="modal-body">

                <div class="d-flex-center py-3">
                    <p>Do you want recreate tables and remove all data?</p>
                </div>


                @if (_Loading)
                {
                    <div class="d-flex-center">
                        <_LoadingButton />
                    </div>
                }
                else
                {
                    <div class="row d-flex-center">
                        <button @onclick="CloseModal_RecreateTables" class="btn btn-rounded btn-outline-default mr-1" type="button" title="Close">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>

                        <button @onclick="_RecreateTables" class="btn btn-rounded btn-rounded-text btn-outline-danger" type="button" title="Recreate">
                            <i class="fa-solid fa-database mr-1"></i> Recreate
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal @ModalClass_RemoveData" tabindex="-1" role="dialog" style="display:@ModalDisplay_RemoveData">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-table text-center">
                    <h6>
                        <i class="fa-solid fa-eraser"></i>
                        Remove data
                    </h6>
                </div>

            </div>
            <div class="modal-body">

                <div class="d-flex-center py-3">
                    <p>Do you want remove data?</p>
                </div>

                @if (_Loading)
                {
                    <div class="d-flex-center">
                        <_LoadingButton />
                    </div>
                }
                else
                {
                    <div class="row d-flex-center">
                        <button @onclick="CloseModal_RemoveData" class="btn btn-rounded btn-outline-default mr-1" type="button" title="Close">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>

                        <button @onclick="_RemoveData" class="btn btn-rounded btn-rounded-text btn-outline-danger" type="button" title="Remove">
                            <i class="fa-solid fa-eraser mr-1"></i> Remove
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    #region Variables
    private bool _Loading { get; set; } = true;
    private bool _Ready { get; set; } = true;

    private bool _Editing { get; set; } = false;
    private bool _IsEnabled { get; set; } = true;

    private bool _IsOK { get; set; } = false;

    private string _Title { get; set; } = "Configuration";


    public string _APIURL { get; set; }


    private Station_Request _Model { get; set; } = new();

    private string _Text { get; set; }

    #endregion


    #region Mostrar informacion

    protected override async Task OnInitializedAsync()
    {
        await LoadInformation();
    }

    public async Task LoadInformation()
    {
        try
        {
            _Ready = false;
            _Loading = true;
            StateHasChanged();

            _APIURL = await _URLs.GetURLAPI();

            var post = await Http.GetAsync(await _URLs.Test());

            if (post != null && post.IsSuccessStatusCode)
            {
                _Ready = true;
                _IsOK = true;
                CancelEdit();
                _Toast.ShowSuccess("Connected.");
            }
            else
            {
                _IsOK = false;
            }
        }
        catch (Exception e)
        {
            _Toast.ShowError("Could not connect with server.");
        }
        finally
        {
            _Loading = false;
            StateHasChanged();
        }
    }

    #endregion

    private async Task SaveURL()
    {
        await _URLs.SetURLAPI(_APIURL);

        await LoadInformation();
    }


    private async Task Test()
    {
        try
        {
            _Ready = false;
            _Loading = true;
            StateHasChanged();
            var post = await Http.GetAsync(await _URLs.Test());

            if (post != null && post.IsSuccessStatusCode)
            {
                _Ready = true;
                _IsOK = true;
                CancelEdit();
                _Toast.ShowSuccess("Connected.");
            }
            else
            {
                _IsOK = false;
            }
        }
        catch (Exception e)
        {
            _Toast.ShowError("Could not connect with server.");
        }
        finally
        {
            _Loading = false;
            StateHasChanged();
        }
    }

    private void Edit()
    {
        _IsEnabled = false;
        _Editing = true;
        StateHasChanged();
    }
    private void CancelEdit()
    {
        _IsEnabled = true;
        _Editing = false;
        StateHasChanged();
    }


    public void RedirecToHome()
    {
        _NavigationManager.NavigateTo("/");
    }


    protected async Task _RemoveData()
    {
        try
        {
            _Loading = true;
            StateHasChanged();

            var response = await HttpClass.GetOnly(Http, await _URLs.Delete_AllData(), _Toast);
            _Text = "Data removed";

            CloseModal_RemoveData();
        }
        catch (Exception e)
        {
            _GlobalConfiguration.NuevoLog("Could not remove data", SystemActionsEnum.Delete, e, SystemErrorCodesEnum.Error);
            _Toast.ShowError("Could not remove.");
        }
        finally
        {
            _Loading = false;
            StateHasChanged();
        }
    }


    protected async Task _RecreateTables()
    {
        try
        {
            _Loading = true;
            StateHasChanged();

            var response = await HttpClass.GetOnly(Http, await _URLs.Recreate_Tables(), _Toast);
            _Text = "Tables recreated";

            CloseModal_RecreateTables();
        }
        catch (Exception e)
        {
            _GlobalConfiguration.NuevoLog("Could not recreate tables", SystemActionsEnum.Delete, e, SystemErrorCodesEnum.Error);
            _Toast.ShowError("Could not remove.");
        }
        finally
        {
            _Loading = false;
            StateHasChanged();
        }
    }


    #region Abrir Cerrar Modal
    private bool ShowBackdrop = false;


    private bool _Modal_IsVisible_RecreateTables { get; set; } = false;

    public void OpenModal_RecreateTables()
    {
        ModalDisplay_RecreateTables = "block;";
        ModalClass_RecreateTables = "Show scale-in-center";
        ShowBackdrop = true;
        _Modal_IsVisible_RecreateTables = true;
        StateHasChanged();
    }

    private string ModalDisplay_RecreateTables = "none;";
    private string ModalClass_RecreateTables = "";

    public void CloseModal_RecreateTables()
    {
        ModalClass_RecreateTables = "slit-out-vertical";
        StateHasChanged();
        ShowBackdrop = false;
        ModalDisplay_RecreateTables = "none";
        StateHasChanged();
    }
    #endregion


    #region Abrir Cerrar Modal
    private bool _Modal_IsVisible_RemoveData { get; set; } = false;

    public void OpenModal_RemoveData()
    {
        ModalDisplay_RemoveData = "block;";
        ModalClass_RemoveData = "Show scale-in-center";
        ShowBackdrop = true;
        _Modal_IsVisible_RemoveData = true;
        StateHasChanged();
    }

    private string ModalDisplay_RemoveData = "none;";
    private string ModalClass_RemoveData = "";

    public void CloseModal_RemoveData()
    {
        ModalClass_RemoveData = "slit-out-vertical";
        StateHasChanged();
        ShowBackdrop = false;
        ModalDisplay_RemoveData = "none";
        StateHasChanged();
    }
    #endregion

}
